In [ ]:
import numpy as np

In [ ]:
data1=[
    [
        {"name":['홍길동1','김말자5','김개똥9'],'age':[23,45,56]}, 
        {"name":['홍길동2','김말자6','김개똥10'],'age':[27,48,561]}, 
        {"name":['홍길동3','김말자7','김개똥11'],'age':[231,451,561]}, 
        {"name":['홍길동4','김말자8','김개똥12'],'age':[123,415,516]} 
    ],
    [
        {"name":['홍길동11','김말자25','김개똥91'],'age':[23,45,56]}, 
        {"name":['홍길동12','김말자26','김개똥101'],'age':[227,428,5261]}, 
        {"name":['홍길동13','김말자27','김개똥111'],'age':[2231,4251,561]}, 
        {"name":['홍길동14','김말자28','김개똥121'],'age':[1223,4215,5216]} 
    ],
    [
        {"name":['홍길동21','김말자55','김개똥91'],'age':[232,452,569]}, 
        {"name":['홍길동22','김말자56','김개똥1110'],'age':[227,498,591]}, 
        {"name":['홍길동23','김말자57','김개똥1111'],'age':[231,4951,561]}, 
        {"name":['홍길동24','김말자58','김개똥1112'],'age':[9,4915,5916]} 
    ],
    
]
data1[0]
# {'홍길동':[1,2,3,4,11,12,13,14,21,22,23,24],
#  '김말자':[김말자 다음의 숫자 추출],
#  '김개똥':[김개똥 다음의 숫자 추출],
#  age_1: 23+45+56
#  age_2: 27+48+561
#  }

In [ ]:
# T
obj = {}
cnt = 0
for i in data1: # 2차원 리스트에서 하나씩 꺼내면 1차원 리스트
    for j in i: # 1차원 리스트에서 하나씩 꺼내면 dictionary
        for k,v in j.items(): # dictionary에서 itmes 호출하면 k에는 각 dictionary의 key, v에는 value
            if k=='age': # key가 age일 경우 각 리스트의 총합을 구하는데 key를 분류하기 위해
                obj['age_'+str(cnt+1)] = sum(v)
                cnt += 1
            else: # key가 age가 아닐 경우 name
                for name_v in v: # value에서 하나씩 꺼내어
                    key_name = name_v[:3] # 앞의 이름 3개를 잘라서
                    if key_name not in obj.keys(): # obj객체에 key가 없으면
                        obj[key_name] = [] # value를 빈 list로 하고
                    obj[key_name].append(int(name_v[3:])) # 그렇지 않으면 빈 리스트에 숫자를 잘라서 정수로 변환한 후 추가
obj

In [ ]:
obj = {}
cnt = 0
list_1, list_2, list_3 = [],[],[]
for i in data1:
    for j in i:
        list_1.append(j['name'][0][3:])
        list_2.append(j['name'][1][3:])
        list_3.append(j['name'][2][3:])
        obj['age'+str(cnt+1)] = sum(j['age'])
        cnt += 1
obj['홍길동'] = list_1
obj['김말자'] = list_2
obj['김개똥'] = list_3
obj

In [1]:
data2 = [
    [
        {"name":['가나다1','라마바11','아자차111'],'age':[1,2,3]}, 
        {"name":['가나다2','라마바22','아자차222'],'age':[4,5,6]}, 
        {"name":['가나다3','라마바33','아자차333'],'age':[7,8,9]}, 
        {"name":['가나다4','라마바44','아자차444'],'age':[9,8,7]} 
    ],
    [
        {"name":['가나다5','라마바55','아자차555'],'age':[6,5,4]}, 
        {"name":['가나다6','라마바66','아자차666'],'age':[3,2,1]}, 
        {"name":['가나다7','라마바77','아자차777'],'age':[1,2,3]}, 
        {"name":['가나다8','라마바88','아자차888'],'age':[4,5,6]} 
    ]
]

In [2]:
obj = {}
cnt = 1
for i in data2:
    for j in i:
        for k,v in j.items():
            if k=='name':
                for name_v in v:
                    key_name = name_v[:3] 
                    if key_name not in obj.keys(): 
                        obj[key_name] = [] 
                    obj[key_name].append(int(name_v[3:])) 
            else: 
                obj['age_'+str(cnt)] = sum(v)
                cnt += 1
obj

{'가나다': [1, 2, 3, 4, 5, 6, 7, 8],
 '라마바': [11, 22, 33, 44, 55, 66, 77, 88],
 '아자차': [111, 222, 333, 444, 555, 666, 777, 888],
 'age_1': 6,
 'age_2': 15,
 'age_3': 24,
 'age_4': 24,
 'age_5': 15,
 'age_6': 6,
 'age_7': 6,
 'age_8': 15}