In [ ]:
a = "사랑"
b = "믿음"

In [ ]:
a+b

In [ ]:
"사랑" +1

In [ ]:
"사랑" + str(1)  # 숫자를 문자열로 변환하는 기능(str)

In [ ]:
"총점은" + str(90) + "입니다"

In [ ]:
a = input("입력하세요")
a

In [1]:
k = input("국어")  # 사용자에게 국어라는 문자열을 알려주고, 사용자가
# 키보드로 입력 받은 값을 변수 K에 저장함
int(k)

국어45

45

In [2]:
e = input("영어")
int(e)

영어56

56

In [3]:
m = input("수학")
int(m)

수학67

67

In [6]:
total = int(k) + int(e) + int(m)
total

168

In [7]:
avg = int(total)/3
int(avg)

56

In [11]:
k = input("국어")
print(type(k)) # 키보드로 입력받은 값은 숫자가 아니라 문자열이기에
print(type(int(k))) # 문자열을 계산하기 위해 정수(int)로 형변환 해야함
e = input("영어")
print(type(e))
print(type(int(e)))
m = input("수학")
print(type(m))
print(type(int(m)))
total = int(k) + int(e) + int(m)
total

국어45
<class 'str'>
<class 'int'>
영어56
<class 'str'>
<class 'int'>
수학67
<class 'str'>
<class 'int'>

168

In [12]:
avg = total / 3
avg

56.0

<a href="https://www.thebaleun.com/post/%EB%8D%B0%EC%9D%B4%ED%84%B0%EB%A5%BC-%EB%8B%B4%EB%8A%94-%EC%83%81%EC%9E%90-%EB%B3%80%EC%88%98">변수</a>

<h2> 형변환 (타입 casting) </h2>
키보드로 입력받으면 숫자로 입력한 것 같지만 실제로는 숫자가 아니라 문자열이다.
계산을 해야 하므로 정수형으로 변경해야함
그말은 int(  )  ,  (  ) 괄호 내에 있는 변수를 int(정수형, integer)로 
형변환해라.

In [13]:
z = input("원하는 숫자는? ")
z

원하는 숫자는? 34

'34'

In [14]:
int(z) # 변수z는 여전히 문자열

34

In [16]:
r = int(z)  #  변수r에 z가 정수형태로 들어감
r

34

<img src="image/function.png"/>

In [26]:
# 함수의 정의, def = define(정의 하다의 약자)
def d(i): 
    return i*2

In [27]:
# 함수의 호출
d(4)

8

In [35]:
# 두 개를 더하는 함수
def g(i, j):
    return i+j

In [36]:
g(3, 4)

7

In [32]:
def d(a, b):
return a+b   # 들여쓰기의 비극

IndentationError: expected an indented block after function definition on line 1 (1957241083.py, line 2)

In [43]:
def g(i, j, a, v):
    """
        너가 g를 호출 했어
    """
    return i+j*a*v

In [42]:
g(3, 4, 2, 3)

27

In [44]:
help(g)

Help on function g in module __main__:

g(i, j, a, v)
    너가 g를 호출 했어

In [45]:
137 % 5  # %은 뒷 숫자로 나눈 나머지를 구함

2

In [56]:
a = "안녕하세요 이재오 강사입니다."

In [47]:
a[1]

'녕'

In [48]:
# 1번부터 ~ 3번을 포함하지 않는 곳까지
a[1:3]  # [   )  ,   [ (폐구간 ) , )  (개구간 )

'녕하'

In [52]:
a[10:12]

'강사'

In [57]:
a[-6:-4]

'강사'

In [58]:
a[-1]

'.'

In [60]:
a[4:]  # 파이썬의 슬라이싱 (중요한 것!)

'요 이재오 강사입니다.'

In [61]:
a[-4:]

'입니다.'

In [62]:
a = [2,3,4,5,8,10]

In [63]:
a[:2]

[2, 3]

In [64]:
len(a)  # len은 length의 약자

6

In [65]:
animal = "고양이"
x = "나는 %s 를 좋아한다 " %animal  # s = string
x

'나는 고양이 를 좋아한다 '

In [71]:
age = 17
y = "내 나이는 %d 입니다 " %age  # d = decimal( 10진수 )
y

'내 나이는 17 입니다 '

In [72]:
age = 17.4
y = "내 나이는 %f 입니다 " %age  # f = float( 실수 )
y

'내 나이는 17.400000 입니다 '

In [73]:
age = 17.4
y = "내 나이는 %f.2 입니다 " %age  # f = float( 실수 )
y

'내 나이는 17.400000.2 입니다 '

파이썬에서는 '', "" 둘 다 문자열이고 문자열만 format이라는 함수 사용가능

In [76]:
test = 5.44
test2 = 7
age = 14
y = 'test:{0}, test2:{1}, age:{2} '.format(test, test2, age)
y

'test:5.44, test2:7, age:14 '

str1 = "이재오" +  "\n" + "강사" + "\n" + "입니다"
str1

In [78]:
kor = 88
eng = 96
math = 97
sum1 = kor + eng + math
y = "합계:%d, 평균:%.2f" %(sum1, sum1/3.0)
y

'합계:281, 평균:93.67'