In [ ]:
for i in [2,3,4,5]:  # in 다음에는 iterable 한 데이터만 온다. 
    print(i)

In [ ]:
sum1 = 0

for i in [2,3,4,5]:  # in 다음에는 iterable 한 데이터만 온다. 
    sum1 += i
    print(i, sum1)
sum1

# ditionary (key: value의 쌍) #

In [ ]:
dict1 = {'a':11,'b':15,'c':[1,2,3,4],'d':{'f':[11,12,23]}}
dict1['a']

In [ ]:
dict1['d']  # dictionary

In [ ]:
dict1['d']['f']  # 리스트

In [ ]:
dict1['d']['f'][1]

In [ ]:
dic3 = {'f':{'r':[1,2,3,4]}}
dic3

In [ ]:
dic3['f']['r'][3]

In [ ]:
sum = 0

for i in dic3['f']['r']:
    sum += i
sum

In [ ]:
dict4 = {"a":[1,2,3,4,5], "b":[7,11,13]}
# 문제1) 1,2,3,4,5 ,7,11,13의 총합과 데이터의 갯수 구하기

# 답1) 
sum1 = 0
sum2 = 0
cnt = 0
for i in dict4["a"]:
    sum1 += i
    cnt += 1
for i in dict4["b"]:
    sum2 += i
    cnt += 1
sum1 + sum2, cnt

In [ ]:
# 선생님 답1) 
sum_a = 0
sum_b = 0
cnt_a = 0
cnt_b = 0

for i in dict4['a']:
    sum_a += i
    cnt_a += 1
print(sum_a)

for i in dict4['b']:
    sum_b += i
    cnt_b += 1
    
print("dictionary a의 합:%d 갯수:%d, b의 합:%d 갯수: %d"%(sum_a, cnt_a, sum_b, cnt_b))

In [ ]:
sum_total = sum_a + sum_b
cnt_total = cnt_a + cnt_b

print(sum_total, cnt_total)

In [ ]:
dict5 = {"f":[2,3,4,5,6,8,11,13]}
# 문제2) 짝수의 총합과 홀수의 총합을 각각 구하세요. 

# 답2) 
odd_sum = 0
even_sum = 0
odd_cnt = 0
even_cnt = 0
result_dict = {}
for i in dict5["f"]:
    if i % 2 == 1:
        odd_sum += i
        odd_cnt += 1
    else:
        even_sum += i
        even_cnt += 1
result_dict['odd_sum'] = odd_sum
result_dict['even_sum'] = even_sum
result_dict['odd_cnt'] = odd_cnt
result_dict['even_cnt'] = even_cnt
result_dict

In [ ]:
sum_total = 0;
for i in result_dict.keys():  # dictionary의 key값들을 가져옴
    print(i)
    sum_total += result_dict[i]  # 하나의 key값을 이용하여 value를 가져와서 누적함
sum_total

In [ ]:
result_dict['odd_sum']

In [ ]:
dict7 = {};
list1 = [];
list1.append(5);
dict7['f'] = [1,2,3,4];

list1

In [ ]:
dict7

p237 dictionary 공부하기

In [ ]:
member = {"name":"황예린", "age":22, "email": "yerin@a.com"}
member

In [ ]:
score = dict([("국어", 80), ("영어", 60), ("수학", 100)])  # 튜플로 dictionary 만들기
score

In [ ]:
score['국어'] = 120
score['미술'] = 15
score

p240 삭제하기

In [ ]:
score.pop('미술')  # .pop('key_name') 삭제
score

In [ ]:
list2 = [2,3,4]
# list2.pop()
list2.remove(2)
list2

p243 for문과 dictionary

In [ ]:
area_code={"서울":"02","부산":"051","대구":"053","광주":"062"}

for i in area_code:  # key값을 하나씩 꺼내어 준다. 
    print(area_code[i])

In [ ]:
for i in area_code:  # key값을 하나씩 꺼내어 준다. 
    print(type(i))

In [ ]:
sum_1 = 0;
for i in area_code:
    sum_1 += int(area_code[i])
sum_1

In [ ]:
list_of_list = [
    [1,2,3,4],
    [11,12,13,14],
    [21,22,23,24],
    [31,32,33,34],
]

In [ ]:
total = 0
for i in list_of_list:
    for j in i:  #[1,2,3,4] => [11,12,13,14] => [21,22,23,24] => [31,32,33,34]
        total += j
total

In [ ]:
1+2+3+4+11+12+13+14+21+22+23+24+31+32+33+34

In [ ]:
difficult = {"a":[1,2,3,4], "b":[5,6,7,8], "c":0}

sum1 = 0
sum2 = 0
for i in difficult["a"]:
    sum1 += i 
for i in difficult["b"]:
    sum2 += i
difficult["c"] = sum1 + sum2

print(difficult["c"])
print(difficult)

In [ ]:
# 문제 11) difficult의 c가 홀수이면 a의 각각의 값에 3배한 총합을 출력하고
#          짝수이면 b의 각각의 값에 5배한 총합을 출력하세요. 
sum_a = 0
sum_b = 0

if difficult["c"] % 2 == 1:
    for i in difficult["a"]:
        sum_a += i * 3
    print(sum_a)
else:
    for i in difficult["b"]:
        sum_b += i * 5
    print(sum_b)

In [ ]:
difficult2 = {"age":[24,25,13,17], "name":["홍길동","홍말자","김개똥","국제"]}

# 문제 12) name의 value값의 문자열 결합한 길이가 
len_sum = 0 
for i in difficult2["name"]:
    len_sum += len(i)
    
#     짝수이면 age의 값들 중 짝수인 것들의 총합 구하고 
#     홀수이면 age의 값들의 홀수인 값들의 총합 구하세요. 
even_sum = 0
odd_sum = 0
if len_sum % 2 == 0:
    for i in difficult2["age"]:
        if i % 2 == 0:
            even_sum += i
    print(even_sum)
else: 
    for i in difficult2["age"]:
        if i % 2 == 1:
            odd_sum += i
    print(odd_sum)

In [ ]:
difficult2 = {"age":[24,25,13,17], "name":["홍길동","홍말자","김개똥","국제"]}
merge = ""
for i in difficult2['name']:
    merge += i
length = len(merge)
length  # 문자열 결합한 문자열의 길이

In [ ]:
sum_even = 0
if length % 2 == 0:
    for i in difficult2['age']: 
        if i % 2 == 0:
            sum_even += i
else:
    for i in difficult2['age']: 
        if i % 2 == 1:
            sum_even += i

In [ ]:
sum_even