In [1]:
import numpy as np

In [2]:
import pandas as pd

In [3]:
data1=[
    [
        {"name":['홍길동1','김말자5','김개똥9'],'age':[23,45,56]}, 
        {"name":['홍길동2','김말자6','김개똥10'],'age':[27,48,561]}, 
        {"name":['홍길동3','김말자7','김개똥11'],'age':[231,451,561]}, 
        {"name":['홍길동4','김말자8','김개똥12'],'age':[123,415,516]} 
    ],
    [
        {"name":['홍길동11','김말자25','김개똥91'],'age':[23,45,56]}, 
        {"name":['홍길동12','김말자26','김개똥101'],'age':[227,428,5261]}, 
        {"name":['홍길동13','김말자27','김개똥111'],'age':[2231,4251,561]}, 
        {"name":['홍길동14','김말자28','김개똥121'],'age':[1223,4215,5216]} 
    ],
    [
        {"name":['홍길동21','김말자55','김개똥91'],'age':[232,452,569]}, 
        {"name":['홍길동22','김말자56','김개똥1110'],'age':[227,498,591]}, 
        {"name":['홍길동23','김말자57','김개똥1111'],'age':[231,4951,561]}, 
        {"name":['홍길동24','김말자58','김개똥1112'],'age':[9,4915,5916]} 
    ],
    
]
data1[0]
# {'홍길동':[1,2,3,4,11,12,13,14,21,22,23,24],
#  '김말자':[김말자 다음의 숫자 추출],
#  '김개똥':[김개똥 다음의 숫자 추출],
#  age_1: 23+45+56
#  age_2: 27+48+561
#  }

[{'name': ['홍길동1', '김말자5', '김개똥9'], 'age': [23, 45, 56]},
 {'name': ['홍길동2', '김말자6', '김개똥10'], 'age': [27, 48, 561]},
 {'name': ['홍길동3', '김말자7', '김개똥11'], 'age': [231, 451, 561]},
 {'name': ['홍길동4', '김말자8', '김개똥12'], 'age': [123, 415, 516]}]

In [ ]:
data1[0]

In [ ]:
obj = {}
sum_ = 0
list_1, list_2, list_3 = [],[],[]
for i in data1:
    for j in i:
        list_1.append(j['name'][0][3:])
        list_2.append(j['name'][1][3:])
        list_3.append(j['name'][2][3:])
        obj['age'+str(sum_+1)] = sum(j['age'])
        sum_ += 1
obj['홍길동'] = list_1
obj['김말자'] = list_2
obj['김개똥'] = list_3
obj

In [4]:
# T
obj = {}
cnt = 0
for i in data1: # 2차원 리스트에서 하나씩 꺼내면 1차원 리스트
    for j in i: # 1차원 리스트에서 하나씩 꺼내면 dictionary
        for k,v in j.items(): # dictionary에서 itmes 호출하면 k에는 각 dictionary의 key, v에는 value
            if k=='age': # key가 age일 경우 각 리스트의 총합을 구하는데 key를 분류하기 위해
                obj['age_'+str(cnt+1)] = sum(v)
                cnt += 1
            else: # key가 age가 아닐 경우 name
                for name_v in v: # value에서 하나씩 꺼내어
                    key_name = name_v[:3] # 앞의 이름 3개를 잘라서
                    if key_name not in obj.keys(): # obj객체에 key가 없으면
                        obj[key_name] = [] # value를 빈 list로 하고
                    obj[key_name].append(int(name_v[3:])) # 그렇지 않으면 빈 리스트에 숫자를 잘라서 정수로 변환한 후 추가
obj

{'홍길동': [1, 2, 3, 4, 11, 12, 13, 14, 21, 22, 23, 24],
 '김말자': [5, 6, 7, 8, 25, 26, 27, 28, 55, 56, 57, 58],
 '김개똥': [9, 10, 11, 12, 91, 101, 111, 121, 91, 1110, 1111, 1112],
 'age_1': 124,
 'age_2': 636,
 'age_3': 1243,
 'age_4': 1054,
 'age_5': 124,
 'age_6': 5916,
 'age_7': 7043,
 'age_8': 10654,
 'age_9': 1253,
 'age_10': 1316,
 'age_11': 5743,
 'age_12': 10840}