단축키 <br>
Ctrl + m :  command모드 <br>
Enter = 편집모드 <hr>
m = markdown모드 <br>
y = code작성모드 <hr>
a = 위로 셀 추가 <br>
b = 아래로 셀 추가 <br>
c :  셀 복사 , v :  셀 붙여넣기 , x :  셀 잘라내기 <hr>
        Ctrl + Enter: 실행 <br>

In [ ]:
#은 주석(comment)
# 주석은 컴퓨터가 실행하지 않는다.
# 사용자가 읽기 쉽도록 설명하는 내용

a = 3 + 1 # a라는 변수에 3+1의 결과가 저장된다. 
print(a) # a의 값을 출력해라.

In [ ]:
b = a + 7
print(b)

### 변수 (###=h3)

<ul>
    <li>변수는 값을 저장하는 공간</li>
    <li>=는 같다는 것이 아니라 오른쪽의 값을 왼쪽의 변수에 저장하라는 대입연산자</li>
</ul>

In [ ]:
a = 7
b = 3
c = a + b
c

In [ ]:
# 변수 d에 a의 값과 b의 값을 곱한 결과를 저장하고 저장된 d의 값 출력
d = a * b
d

In [ ]:
# p.48
school = "한국대학교"  # 쌍따옴표는 문자열을 표시
school

In [ ]:
a = 3  # a 변수에 숫자 3을 대입연산자(=)를 이용하여 값을 a 변수에 저장
a = 100

In [ ]:
a = 3
b = 7

In [ ]:
c = a * b
c

In [ ]:
b = 20  # 위 or 아래 재실행하면 변화

In [ ]:
c

In [ ]:
a = 1000  # 실행 안 하면 적용X

In [ ]:
a + b

In [ ]:
school = "안녕하세요"

<hr>

In [ ]:
school = "안녕하세요"

In [ ]:
type(school)  # str = string(문자열)의 약자

파이썬에서 type은 변수에 어떤 형태가 들어있는지 확인하는 기능

a 변수에 어떤 데이터 타입이 들어가 있는지 확인하는 코드작성

In [ ]:
type(a)

In [ ]:
f = 2.7
type(f)  # f = float(소수)

p.48 <br>
변수이름 규칙 => 첫글자는 숫자로 시작할 수 없음

In [ ]:
24cafe = "커피" # 여기에서 오류 발생함

In [ ]:
a_1 = 6
a_2 = 16
a_3 = 26
a_4 = 36
a_5 = 46
a_1 + a_2 + a_3 + a_4 + a_5

In [ ]:
#국어 영어 수학 점수를 변수에 저장하고 
# 총점과 평균을 구하는 식을 구현하세요. 
k = 100
e = 90
m = 80
total = k+e+m
avg = total/3.0

In [ ]:
print("총점: " + str(total) + "입니다.")

숫자의 +는 더하기이지만 문자열의 +는 결합입니다. <br>
숫자를 문자열로 변환하기 위해 str로 감싸서 결합

In [ ]:
print("평균: " + str(avg) + "입니다.")

In [ ]:
print("국어점수: " + str(k) + ", 영어점수: " + str(e) + ", 수학점수: " + str(m) + "이고,")
print("총점: " + str(total) + "이고 평균은 " + str(avg) + "입니다.")

pwd(Print Working Directory): 현재 작업중인 디렉토리 확인

In [ ]:
pwd # 'C:\\Users\\Admin'

In [ ]:
a = "사랑"
b = "믿음"

In [ ]:
a + b

(문자열+숫자) or (숫자+문자열) 불가

In [ ]:
"사랑" + 1

In [ ]:
"사랑" + str(1)  # 숫자를 문자열로 변환하는 기능(str)

In [ ]:
"총점은" + str(90) + "입니다"

In [ ]:
a = input("입력하세요")
a

In [ ]:
k = input("국어")  
# 사용자에게 국어라는 문자열을 알려주고,
#  사용자가 키보드로 입력 받은 값을 변수 K에 저장함
int(k)

In [ ]:
m = input("수학")
int(m)

In [ ]:
total = int(k) + int(e) + int(m)
total

In [ ]:
avg = int(total)/3
int(avg)

In [ ]:
k = input("국어")
print(type(k))  # 키보드로 입력받은 값은 숫자가 아니라 문자열이기에
print(type(int(k)))  # 문자열을 계산하기 위해 정수(int)로 형변환 해야함
e = input("영어")
print(type(e))
print(type(int(e)))
m = input("수학")
print(type(m))
print(type(int(m)))

total = int(k) + int(e) + int(m)
total

In [ ]:
avg = total / 3
avg

<a href="https://www.thebaleun.com/post/%EB%8D%B0%EC%9D%B4%ED%84%B0%EB%A5%BC-%EB%8B%B4%EB%8A%94-%EC%83%81%EC%9E%90-%EB%B3%80%EC%88%98">변수란?</a>

<h2> 형변환 (타입 casting) </h2><br>
키보드로 입력받으면 숫자로 입력한 것 같지만 실제로는 숫자가 아니라 문자열이다. <br>
계산을 해야 하므로 정수형으로 변경해야함. <br>
그말은 int(  ) ,  (  ) 괄호 내에 있는 변수를 int(정수형, integer)로 
형변환해라.

In [ ]:
z = input("원하는 숫자는? ")
z

In [ ]:
int(z)  # 변수z는 여전히 문자열

In [ ]:
r = int(z)  #  변수r에 z가 정수형태로 들어감
r

이미지: <img src="images/function.png"/>

In [ ]:
animal = "고양이"
x = "나는 %s를 좋아한다 "%animal  # s = string
x

In [ ]:
age = 17
y = "내 나이는 %d입니다 " %age  # d = decimal( 10진수 )
y

In [ ]:
age = 17.4
y = "내 나이는 %f입니다 " %age  # f = float( 실수 )
y

In [ ]:
age = 17.4
y = "내 나이는 %f.2 입니다 " %age  # f.2 = float.2( 실수, 소숫점 2자리까지 )
y

파이썬에서는 ' ', " " 둘 다 문자열이고, <br>
문자열만 format이라는 함수 사용 가능

In [ ]:
test = 5.44
test2 = 7
age = 14
y = 'test:[0], test2:{1}, age:{2}'.format(test, test2, age)
y

In [ ]:
str1 = "이재오" + "\n" + "강사" + "\n" + "입니다."
str1

In [ ]:
kor = 88
eng = 96
math = 97
sum1 = kor + eng + math
y = "합계:%d, 평균:%.2f"%(sum1, sum1/3.0)
y