## 조건문

In [ ]:
x = 50
if x >= 50: 
    print("양수")
else: 
    print("음수")

In [ ]:
korea = input("국어")
math = input("수학")
eng = input("영어")

# 바로 계산이 안 되므로 int로 변환
kor_int = int(korea)
eng_int = int(eng)
math_int = int(math)

# 총점과 평균을 구해요
total = kor_int + eng_int + math_int
avg = total / 3

# 조건문
if avg >= 90:
    print("수")
elif avg >= 80:
    print("우")
elif avg >= 70:
    print("미")
elif avg >= 60:
    print("양")  
else:
    print("가")

print("총점은 " + str(total) + ", 평균은 " + str(avg))

문제2) 강아지가 하루 5m씩 갑니다. 
10일 간 강아지가 간 거리가 30m 이상 갔으면 
성공 그렇지 않으면 실패를 프로그래밍 하세요.

In [ ]:
dog = 5
day = 10
distance = dog * day

if distance >= 30: 
    print("성공")
else: 
    print("실패")

문제2-1) 강아지가 하루 몇 m씩 갔는지는 키보드로 입력받아요. 
강아지가 몇 일 갔는지도 키보드로 받아요. 이동한 거리가 30m 이상 갔으면 성공, 그렇지 않으면 실패를 프로그래밍 하세요.

In [ ]:
dog = input("강아지가 하루에 몇 미터 갔는가요? ")
day = input("강아지는 며칠 간 이동했나요? ")
distance = int(dog) * int(day)  # !!입력받으면 문자열!!

if distance >= 30: 
    print("성공")
else: 
    print("실패")

In [ ]:
dog = int(input("강아지가 하루에 몇미터 갔는가요? "))
day = int(input("강아지는 며칠간 이동했나요? "))
distance = dog * day

if distance >= 30: 
    print("성공")
else: 
    print("실패")

입력된 숫자가 5의 배수이면 '5의 배수입니다.'를 출력하고 <br>
5의 배수가 아니면 '5의 배수가 아닙니다.' 출력 <br>
==(같다), %(나누고 남은 나머지값)

In [ ]:
number = int(input("숫자를 입력하세요 "))
if number % 5 == 0:
    print("5의 배수입니다. ")
else:
    print("5의 배수가 아닙니다.")

In [ ]:
num = int(input("너가 알고 싶은 숫자가 5의 배수인지 알려줄게 "))
if num % 5 == 0:
    print("당신이 입력한 숫자는 5의 배수입니다.")
else:
    print("당신이 입력한 숫자는 5의 배수가 아닙니다.")

첫번째 숫자를 키보드로 입력받고 <br>
두번째 숫자를 키보드로 입력받고 <br>
2개의 숫자의 곱이 3의 배수인지 확인하세요.

In [ ]:
num1 = int(input("첫번째 숫자: "))
num2 = int(input("두번째 숫자: "))
if (num1 * num2) % 3 == 0:
    print("3의 배수입니다.")
else:
    print("3의 배수가 아닙니다.")

In [ ]:
first = int(input("첫번째 숫자: "))
second = int(input("두번째 숫자: "))
mul = first * second
if mul % 3 == 0:
    print("%d 와 %d 의 곱은 %d 이고, %d 는 3의 배수입니다."%(first, second, mul, mul))
else:
     print("%d 와 %d 의 곱은 %d 이고, %d 은 3의 배수가 아닙니다."%(first, second, mul, mul))

In [ ]:
a00 = "박지은"
a01 = "이가영"
a02 = "채승민"
a03 = "정상준"
a04 = "윤지현"
a05 = "김단아"
a06 = "정은영"
a07 = "김지영"
a08 = "문주희"
a09 = "강설"
a10 = "김예지나"
a11 = "이태규"
a12 = "석사무엘"
a13 = "이지호"
a14 = "서우진"
a15 = "채정호"
a16 = "도지은"
a17 = "이선빈"
a18 = "이민규"
a19 = "권동훈"
a20 = "조훈영"
a21 = "유현준"
a22 = "이승주"
a23 = "유강진"
a24 = "이재오 강사"
x = a00 + a01 + a02 + a03 + a04 + a05 + a06 + a07 + a08 + a09 + a10 + a11 + a12 + a13 + a14 + a15 + a16 + a17 + a18 + a19 + a20 + a21 + a22 + a23 + a24
len(x)

In [ ]:
# p.90 
a = input("첫번째 정수를 입력하세요")
b = input("두번째 정수를 입력하세요")
c = a + b
c

In [ ]:
d = int(a) + int(b)
d

In [ ]:
add = input("주소를 입력하세요")
int(add)

In [ ]:
# 함수 정의 (defion)
def str_1(i): 
    return '사랑' + str(i)

# 함수 호출(실행)
str_1(5)

In [ ]:
# p.74
name = '홍지영'
print(name)

In [ ]:
# 문제1) name의 변수에 저장된 데이터 타입이 무엇인지를 출력하세요. 
print(type(name))

In [ ]:
# p.75
hp1 = '010'
hp2 = "1234"
hp3 = '4568'
print(hp1, hp2, hp3, sep="-")  # seperator(구분자)의 약어

In [ ]:
# p.77
x = 25
y = 3.3
animal = "호랑이"

# d=decimal, f=float, s=string
print("%d %.3f %s " %(x, y, animal))