#### p.109 간단한 영어 단어 퀴즈 만들기 ####

In [ ]:
ans1 = input("'사자'의 영어 단어는 무엇일까요?")
result = "땡! 틀렸습니다."

if ans1 == 'lion':
    result = "딩동댕~~ 참 잘 했어요~~~~"
result

In [ ]:
list1 = ['lion','tiger','bear']

ans1 = input("'사자'의 영어 단어는 무엇일까요? ")
result = "땡! 틀렸습니다."
ans2 = input("'호랑이'의 영어 단어는 무엇일까요? ")

if ans1 in list1 and ans2  in list1:
    result = "딩동댕~~ 참 잘 했어요~~~~"
result

In [ ]:
list1[-2:]

In [ ]:
ans1 = input("'사자'의 영어 단어는 무엇일까요? ")
result = "땡! 틀렸습니다."
ans2 = input("'호랑이'의 영어 단어는 무엇일까요? ")

if ans1 in list1 and ans2  in list1:
    result = "딩동댕~~ 참 잘 했어요~~~~"
result

In [ ]:
ans1 = input("'사자'의 영어 단어는 무엇일까요? ")
result = "땡! 틀렸습니다."
ans2 = input("'호랑이'의 영어 단어는 무엇일까요? ")
if ans1 == list1[0]:  # 입력받은 값이 list1의 0번째 데이터(lion)과 같으면
    result = "사자를 맞쳤어요. "
else: result = "사자를 틀렸어요. "
print(result)
if ans2 == list1[1]: # 입력받은 값이 list1의 1번째 데이터(tiger)과 같으면
    result = "호랑이를 맞쳤어요. "
else: result = "호랑이를 틀렸어요. "
print(result)

In [ ]:
# 질문 받은 부분
a = 5
if a > 3:
    print("크다. ")

In [ ]:
if a > 3:
    a = 7
print(a)

In [ ]:
korea = 50
if korea > 50:
    korea = 70
else: pass  # 아무것도 안 함

In [ ]:
korea

In [ ]:
# p.113 주민번호로 남여를 판별하세요
a = input("주민번호를 입력하세요. ")
a

In [ ]:
a[7]  # 확인용~

In [ ]:
sex = ''
if a[7] == '1' or a[7] == '3':
    sex = '남자'
elif a[7] == '2' or a[7] == '4':
    sex = '여자'
sex

In [ ]:
a[-6]

In [ ]:
sex = ''
if a[-7] == '1' or a[-7] == '3':
    sex = '남자'
elif a[-7] == '2' or a[-7] == '4':
    sex = '여자'
sex

### p.124 간단계산기 만들기 ###

In [ ]:
round(10.03456, 2)  # 소숫점 몇 째자리까지 출력할지 정함

In [ ]:
def plus(first, second):
     return first + second

In [ ]:
def minus(first, second):
     return first - second

In [ ]:
def mul(first, second):
     return first * second

In [ ]:
def div(first, second):
     return round(first / second, 4) # round(숫자,4)-> 소수점 4자리까지 반올림

In [ ]:
def mod(first, second):
     return first % second

In [ ]:
a = input("원하는 계산은 1) 더하기 2) 빼기 3) 곱하기 4) 나누기 5) 나머지 ")

In [ ]:
first = int(input("첫번째 숫자 "))
second = int(input("두번째 숫자 "))

In [ ]:
if a == '1':
    print(plus(first, second))
elif a == '2':
    print(minus(first, second))
elif a == '3':
    print(mul(first, second))
elif a == '4':
    print(div(first, second))
else: print(mod(first, second))

In [ ]:
func_list = [plus, minus, mul, div, mod] # 함수를 리스트에 저장

In [ ]:
print(a)

In [ ]:
# 반복문을 쓸 수 있다, 코드가 간결해진다. 

function_list = [plus, minus, mul, div, mod]
if a == '1': 
    print(func_list[0](first,second))
elif a == '2': 
    print(func_list[1](first,second))
elif a == '3': 
    print(func_list[2](first,second))
elif a == '4': 
    print(func_list[3](first,second))
else: 
    print(func_list[14](first,second))

In [ ]:
# 반복문을 쓸 수 있다, 코드가 간결해진다. 

for i in range(1,5):
    if a == "" + str(i):
        print("a1:",a)
        print(func_list[i](first, second))
        break
    elif a == "" + str(i):
        print("a2:",a)
        print(func_list[i](first, second))
        break
    elif a == "" + str(i):
        print("a3:",a)
        print(func_list[i](first, second))
        break
    elif a == "" + str(i):
        print("a4:" , a)
        print(func_list[i](first, second))
        break
    else:
        print("a5:" , a)
        print(func_list[i](first, second))
        break

### p.127 만나이 구하기 ###

In [ ]:
now_year = int(input("현재 년은? "))
now_month = int(input("현재 월은? "))
now_day = int(input("현재 일은? "))

birth_year = int(input("출생년은? "))
birth_month = int(input("출생월은? "))
birth_day = int(input("출생일은? "))

In [ ]:
if birth_month < now_month:  # 출생'월'이 현재'월'보다 빠른 경우
    age = now_year - birth_year
elif birth_month == now_month:  # 출생월이 현재월과 같은 경우
    if birth_day < now_day:  # 출생일이 현재일보다 빠른  경우
        age = now_year - birth_year
    else:
        age = now_year - birth_year - 1
else:
    age = now_year - birth_year - 1

In [ ]:
age

In [ ]:
def calc_man_age(now, birth):  # 추상화, 모듈화
    birth_year = int(birth[:4])
    now_year = int(now[:4])
    birth_month = int(birth[4:6])
    now_month = int(now[4:6])
    birth_day = int(birth[-2:])
    now_day = int(now[-2:])
    
    if birth_month < now_month:  # 출생'월'이 현재'월'보다 빠른 경우
        age = now_year - birth_year
    elif birth_month == now_month:  # 출생월이 현재월과 같은 경우
        if birth_day < now_day:  # 출생일이 현재일보다 빠른  경우 (중첩된 조건문)
            age = now_year - birth_year
        else :
            age = now_year - birth_year - 1
    else:
        age = now_year - birth_year - 1
    return age

In [ ]:
calc_man_age('20230705', '20000102')

In [ ]:
kor = int(input("국어점수 "))

if kor >= 90:  
    if kor >= 95:
        print("A+")
    else:
        print("A0")
elif kor >= 80:
    if kor >= 85:
        print("B+")
    else:
        print("B0")
elif kor >= 70:
    if kor >= 75:
        print("C+")
    else:
        print("C0")
else :
    print("낙제")

In [ ]:
def score_calc(kor):  
    if kor >= 90:  
        if kor >= 95:
            score = "A+"
        else:
            score = "A0"
    elif kor >= 80:
        if kor >= 85:
            score = "B+"
        else:
            score = "B0"
    elif kor >= 70:
        if kor >= 75:
            score = "C+"
        else:
            score = "C0"
    else :
        score = "낙제"
    return score

In [ ]:
score_calc(97)

#### p.131 세 수 중 가장 큰 수를 찾아라 ####

In [ ]:
num1 = int(input("첫번째 정수는? "))
num2 = int(input("두번째 정수는? "))
num3 = int(input("세번째 정수는? "))

largest = 0
if num1 > num2 and num1 > num3:  # 하나가 다른 2개 보다 크면 그 하나는 가장 큰 수. 
    largest = num1
elif num2 > num1 and num2 > num3:
    largest = num2
else: 
    largest = num3
largest

두 개의 데이터를 서로 맞교환하고 싶다. <br>
사이다 잔, 콜라잔에 있는 내용물을 서로 맞바꾸고 싶다. <br>
빈잔이 하나 필요하다. <br>
빈잔에 사이다 잔의 내용물을 저장하고 <br>
비었는 사이다 잔에 콜라잔의 있는 내용물을 비운다.  <br>
콜라잔에 비어있으니 원래 빈잔에는 사이다의 내용물이 있으니 그것을 비운다.

In [ ]:
cidar = 10
colar = 20
empty = 0
print(cidar, colar)
empty = cidar
cidar = colar
colar = empty
print(cidar, colar)

### 카드 섞기 ###

In [ ]:
card1 = []
for i in range(1,49):
    card1.append(i)
card1

In [ ]:
import random
empty = 0 

for i in range(0, 47):
    randldx = random.randint(0,47)
# print(randldx)
# print(card1[0])
    empty = card1[0]
    card1[0] = card1[randldx]
    card1[randldx] = empty

print(empty, card1)

In [ ]:
card2 = []

card2.append(7)
card2

In [ ]:
card2.append(17)
card2

In [ ]:
card2.append(37)
card2

In [ ]:
for i in [1,2,3,4,5,6]:
    card2.append(i)
card2

In [ ]:
aaa = [1,2,3]
aaa[0]